<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="Db" connectionString="Server=localhost;Database=test;Trusted_Connection=True;Encrypt=false"/>
	</connectionStrings>
	<appSettings>
		<add key="UseConfigConnectionString" value="true"/>
	</appSettings>
</configuration>